html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map-canvas { height: 60% }

#map {
    width: 500px;
    height: 400px;
    margin-top: 10px;
}
      
#from-link, #to-link{
	text-decoration: none;
}